body {
  box-sizing: border-box;
  background: blue;
}


.big {
  display: flex;
  gap: 7px;
  /* width: 100vh;
    margin-left: 600px;
    margin-top: 300px; */
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.loading1 {
  background: rgb(255, 255, 255);
  width: 30px;
  height: 30px;
  border-radius: 50px;
  margin: 0 10px;
  animation: loading 0.8s ease infinite;
}
.loading2 {
  background: rgb(255, 255, 255);
  width: 30px;
  height: 30px;
  border-radius: 50px;
  margin: 0 10px;
  animation: loading 0.8s ease infinite;
}
.loading3 {
  background: rgb(255, 255, 255);
  width: 30px;
  height: 30px;
  border-radius: 50px;
  margin: 0 10px;
  animation: loading 0.8s ease infinite;
}
.loading4 {
  background: rgb(255, 255, 255);
  width: 30px;
  height: 30px;
  border-radius: 50px;
  margin: 0 10px;
  animation: loading 0.8s ease infinite;
}

.loading1 {
    animation-delay: 0.3s;
  }
  .loading2 {
    animation-delay: 0.4s;
  }
  .loading3 {
    animation-delay: 0.5s;
  }
  

@keyframes loading {
  0% {
    width: 30px;
    height: 30px;
  }
  50% {
    width: 20px;
    height: 20px;
  }
}

